
html *
{
  font-family: Neue-Helvetica,Arial,Sans-Serif;
   
}
body{
  overflow: hidden;
}
.style_img{
    height: 100px;
    width: 200px;
    padding: 0 0 32px 50px;
    margin: 15px 10px;
}
.each-slide > div {
    z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    /* padding: 0 0 500px 0; */
    height: 700px;
  }
  .each-slide .woman {
    padding: 200px 20px 20px 500px;
    font-size: 20px;
    text-align: center;
  }
  .each-slide .men {
    padding: 100px 700px 20px 10px;
    font-size: 20px;
    text-align: center;
  }
  .each-slide .child {
    padding: 0px 20px 20px 20px;
    font-size: 20px;
    text-align: center;
  }
  .each-slide span .sub-title{
      font-size: 10px;
  }
  .each-slide span button{
      border: 1px solid black;
      border-radius: none;
      width: 65px;
      margin-top: .5rem;
  }
  /* .each-slide span button: */
.navSearcgStyle{
    color: black;
    font-weight: bold;
    font-stretch: condensed;
    position: absolute; 
    right:500px;
    left: 500px;
  }
.navbar-collapse>.navSearcgStyle>.search-box{
    margin-bottom: 50px;
    width: 100%;
  }
.navbar-collapse>.navSearcgStyle:hover{
  color: black;
}
ul>li{
    list-style: none;
    float: right;
    position: relative;
    padding: 0 0 0 600px;
}
ul>li>a.navLOginStyle{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    float: right; 
    position: absolute;
    right: 40px; 
    margin-top: -4px;
}
ul>li>span{
  float: right; 
  position: absolute;
  right: 0; 
  margin-top: -4px;
}
ul>li>a:hover {
    text-decoration: none;
    color: black;
  }

